@import '../../styles/mixins.scss';

.leadText {
  // use clamp here
  font-size: 26px;
  font-style: medium;
  font-weight: 500;
  @include desktop {
    font-size: 44px;
  }
}

.postsContainer {
  display: flex;
  flex-direction: column;
}
