@import '@styles/mixins.scss';
@import '@styles/functions.scss';

.main {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
}

.landing {
  align-content: center;
  align-items: center;
  justify-content: center;
  @include desktop {
    flex-direction: row-reverse;
  }
}
.landingPhoto {
  border-radius: 50%;
  width: 243px;
  margin-bottom: 34px;
  @include desktop {
    flex-direction: row;
    margin-left: 115px;
  }
}
.landingText {
  font-size: 32px;
  // font-size: font-size('3xl');
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 24px;
  @include desktop {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 36px;
  }
}
.landingDesc {
  font-size: 16px;
  font-weight: 400;
}

.landingTextContainer {
  display: flex;
  flex-direction: column;
}
.postsSection {
  background: #edf7fa;
}

.postsActions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.cardsWrapper {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}

.downloadBtnWrapper {
}
.downloadBtn {
  margin-top: 38px;
}
.viewAll {
  color: $secondary-color;
}

.experienceWrapper {
  display: flex;
  flex-direction: column;
}
