// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$primary-color: #ff6464;
$primary-color-darker: #fd0000;
$primary-color-darkest: #970000;
$secondary-color: #00a8cc;
